# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Azure Functions
local.settings.json
*.log
*.swp
*.swo
*.tmp
*.bak

# VS Code
.vscode/
.history/

# OS-specific
.DS_Store
Thumbs.db
desktop.ini

# Logs and temporary files
*.log
*.tmp
*.bak

# Python virtual environments
pip-wheel-metadata/
*.egg-info/